:root {
  --live-color: #d32f2f;
  --resize-transition-duration: 250ms;
  --selected-text-color: rgba(0, 0, 0, 0.8);
  --unselected-text-color: rgba(255, 255, 255, 0.8);
}

.main {
  display: flex;
  flex-direction: column;
  padding-right: 0.8rem;
  text-align: right;
}

.status {
  background: var(--unselected-text-color);
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 0.75rem;
  overflow: hidden;
  padding: 0.4rem 0.8rem;
  text-align: center;
  text-transform: uppercase;
  transition: color var(--resize-transition-duration),
    background var(--resize-transition-duration),
    box-shadow var(--resize-transition-duration);
}
.main__selected .status {
  background: var(--selected-text-color);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0);
  color: #fff;
}
.main__selected.main__live .status {
  background: var(--live-color);
}

.clock,
.clockText {
  color: var(--unselected-text-color);
  font-size: 2.7rem;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  transition: color var(--resize-transition-duration),
    text-shadow var(--resize-transition-duration);
}
.main__selected .clock,
.main__selected .clockText {
  color: var(--selected-text-color);
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0);
}
.main__selected.main__live .clock,
.main__selected.main__live .clockText {
  color: var(--live-color);
}

.clockText {
  font-size: 2.2rem;
}

.quarter {
  margin-right: 1.2rem;
}
