:root {
  --bottom-height: 18rem;
  --top-height: 12.5rem;
  --transition-duration: 500ms;
  --transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.main {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  transition: transform var(--transition-duration) var(--transition-easing);
}

.top {
  height: var(--top-height);
  position: relative;
  z-index: 2;
}

.front,
.back {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.back {
  background: #fff;
  opacity: 0;
  transition: opacity var(--transition-duration);
}
.main__selected .back {
  opacity: 1;
}

.bottom .front {
  opacity: 0;
  transition: opacity var(--transition-duration)
    calc(1.2 * var(--transition-duration));
}
.main__selected .bottom .front {
  opacity: 1;
}

.bottomClippingMask {
  height: var(--bottom-height);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bottom {
  background: #fff;
  height: var(--bottom-height);
  opacity: 0;
  transform: translateY(calc(-1 * var(--bottom-height)));
  transition: opacity var(--transition-duration),
    transform var(--transition-duration) var(--transition-easing);
}
.main__selected .bottom {
  opacity: 1;
  transform: translateY(0);
}

.primaryInfo {
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 101;
}

.teamStatuses {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.teamStatus {
  align-items: center;
  display: flex;
}
.teamStatus:last-child {
  margin-top: 0.5rem;
}

.teamIcon {
  height: 4rem;
  width: 4rem;
}

.teamTriCode {
  letter-spacing: 0.1rem;
}

.teamTriCode,
.teamScore {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin-left: 1rem;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
  transition: color var(--transition-duration);
}
.main__selected .teamTriCode,
.main__selected .teamScore {
  color: rgba(0, 0, 0, 0.8);
}
