:root {
  --bottom-height: 20rem;
  --fade-transition-duration: 250ms;
  --resize-transition-duration: 250ms;
  --resize-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --selected-text-color: rgba(0, 0, 0, 0.8);
  --top-section-height: 14rem;
  --unselected-text-color: rgba(255, 255, 255, 0.8);
}

.main {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  transition: transform var(--resize-transition-duration)
    var(--resize-transition-easing);
}
.main:first-child {
  border-top: none;
}

.top {
  height: var(--top-section-height);
  position: relative;
  z-index: 2;
}

.front,
.back {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.back {
  background: #fff;
  opacity: 0;
  transition: opacity var(--resize-transition-duration);
}
.main__selected .back {
  opacity: 1;
}

.top .front {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 2rem;
}


.bottom .front {
  display: flex;
  opacity: 0;
  transition: opacity var(--fade-transition-duration);
}
.main__expanded .bottom .front {
  opacity: 1;
}

.bottomClippingMask {
  height: var(--bottom-height);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bottom {
  background: #fff;
  height: var(--bottom-height);
  opacity: 0;
  transform: translateY(calc(-1 * var(--bottom-height)));
  transition: opacity var(--resize-transition-duration),
    transform var(--resize-transition-duration) var(--resize-transition-easing);
}
.main__selected .bottom {
  opacity: 1;
  transform: translateY(0);
}

.teamStatuses {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.teamStatus {
  align-items: center;
  display: flex;
}
.teamStatus:last-child {
  margin-top: 0.5rem;
}

.icon {
  height: 4rem;
  width: 4rem;
}

.info {
  align-items: flex-end;
  display: flex;
}

.triCode {
  letter-spacing: 0.1rem;
}

.channel,
.record,
.score,
.startTime,
.triCode {
  color: var(--unselected-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  margin-left: 1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  transition: color var(--resize-transition-duration),
    text-shadow var(--resize-transition-duration);
}
.main__selected .channel,
.main__selected .record,
.main__selected .score,
.main__selected .startTime,
.main__selected .triCode {
  color: var(--selected-text-color);
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0);
}

.record {
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
}
.main__selected .record {
  color: rgba(0, 0, 0, 0.5);
}

.record .dash {
  padding: 0 0.2rem;
}
