
.main {
  flex: 1;
  position: relative;
}

.front, .back {
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.front {
  z-index: 2;
}

.left {
  display: flex;
  flex: 0 0;
}
.right {
  display: flex;
  flex: 1;
}
