:root {
  --borderColor: rgba(255, 255, 255, 0.2);
  --leftSectionWidth: 40rem;
}

.main {
  border-right: 1px solid var(--borderColor);
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: var(--leftSectionWidth);
  min-width: var(--leftSectionWidth);
  overflow: hidden;
  position: relative;
}

.left {
  display: flex;
  flex: 0 0;
}
.right {
  display: flex;
  flex: 1;
}

.heading {
  flex: 0 0;
  min-height: 6rem;
}

.gameBoxes {
  flex: 1;
  overflow: hidden;
}

.gameBoxesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid var(--borderColor);
  min-height: 6rem;
}
