:root {
  --resize-transition-duration: 250ms;
  --selected-text-color: rgba(0, 0, 0, 0.8);
  --unselected-text-color: rgba(255, 255, 255, 0.8);
}

.main {
  display: flex;
  flex-direction: column;
  padding-right: 0.8rem;
  text-align: right;
}

.channel,
.startTime {
  color: var(--unselected-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin-left: 1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  transition: color var(--resize-transition-duration),
    text-shadow var(--resize-transition-duration);
}
.main__selected .channel,
.main__selected .startTime {
  color: var(--selected-text-color);
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0);
}

.startTime {
  font-size: 2.6rem;
}

.channel {
  font-size: 1.6rem;
}

.channel .on {
  font-size: 1.2rem;
}

.channel .text {
  text-transform: uppercase;
}
