.main {
  border-top: .1rem solid rgba(0, 0, 0, .1);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 2.4rem;
}

.bottom,
.middle,
.top {
  align-items: center;
  display: flex;
  position: relative;
}

.bottom,
.top {
  flex: 1;
}

.teamInfo {
  align-items: center;
  display: flex;
  flex: 1;
}

.triCode {
  font-size: 2.2rem;
  max-width: 7rem;
  min-width: 7rem;
}

.ratings {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.rating {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 7rem;
  min-width: 7rem;
  position: relative;
}

.triCode,
.rating .label,
.rating .value,
.vs {
  text-transform: uppercase;
}

.rating .label {
  font-size: 1rem;
}

.rating .numbers {
  align-items: baseline;
  display: flex;
}

.rating .value {
  font-size: 3.2rem;
}

.vs {
  color: rgba(0, 0, 0, .8);
  font-size: 1.4rem;
  margin: 0 1rem;
}

.separator {
  background: rgba(0, 0, 0, .1);
  flex: 1;
  max-height: 0.1rem;
  min-height: 0.1rem;
}

.numberWithOrdinal {
  position: relative;
}

.numberWithOrdinal .ordinal {
  position: absolute;
  right: -5.2rem;
  text-align: left;
  text-transform: lowercase;
  top: .3rem;
  transform-origin: 0 0;
  transform: scale(.5);
  width: 5rem;
}
