
.main {
  flex: 1;
  min-width: 40rem;
  overflow: hidden;
  position: relative;
}

.front, .back {
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.front {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  flex-direction: column;
  z-index: 2;
}
.back {
  background-color: #222;
  filter: blur(10px) brightness(.8);
  transform: scale(1.1);
}

.left {
  display: flex;
  flex: 0 0;
}
.right {
  display: flex;
  flex: 1;
}
