.main {
  flex: 1;
  position: relative;
}

.front,
.back,
.loader {
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  transition: opacity 400ms;
}
.main__ready .front,
.main__ready .back {
  opacity: 1;
}

.loader {
  background: #222;
  opacity: 1;
  z-index: 1;
}

.back {
  opacity: 0;
  z-index: 2;
}

.front {
  opacity: 0;
  z-index: 3;
}

.left {
  display: flex;
  flex: 0 0;
}
.right {
  display: flex;
  flex: 1;
}
