.main {
  flex: 1;
  position: relative;
}

.front,
.back,
.loader {
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

.back {
  z-index: 2;
}

.front {
  z-index: 3;
}

.left {
  display: flex;
  flex: 0 0;
}
.right {
  display: flex;
  flex: 1;
}
