:root {
  --defaultBackgroundColor: #222;
  --leftSectionWidth: 40rem;
}

.main {
  background: var(--defaultBackgroundColor);
  flex: 1;
  position: relative;
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 500ms;
}
.layer__loading {
  background-color: var(--defaultBackgroundColor);
}
.layer__visible {
  opacity: 1;
}

.layerImage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.layerLeftSection {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: var(--leftSectionWidth);
}

.layerLeftSectionBlur {
  bottom: 0;
  filter: blur(1rem) brightness(0.8);
  position: absolute;
}
